@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    background-color: #000000;
    color: #ffffff;
    margin: 0;
    font-family: 'Roboto';
}

.content-1 {
    background-color: hsl(234deg 32% 17%);
    padding: 2rem;
    padding-top: 2rem;
    padding-bottom: 5rem;
    max-height: 100%;
    overflow-y: scroll;
    height: 650px;
}

.content-2 {
    max-height: 100%;
    height: 600px;
    padding-top: 1rem;
    padding-bottom: 5rem;
    // margin-bottom: 1rem;
}

img {
    width: 100%;
}

.loading {
    font-size: 2rem;
    text-align: center;
    padding-top: 50%;
}

@media (min-width: 800px) {

    body {
        overflow-y: hidden;
    }

    .container {
        display: grid;
        grid-template-columns: 27% 1fr;
        gap: 3%;
    }

    .content-1 { 
        overflow-y: hidden;
    }

    .content-1 .loading {
        padding-top: 80%;
    }

    .content-2 {
        overflow-y: scroll;
    }

    .content-2 .loading {
        padding-top: 24%;
    }
}