.highlight {
    margin: 1rem;
    margin-top: 4rem;
}

.highlight_heading {
    font-size: 3rem;
    margin: 1.5rem;
}

.highlight_content {
    text-align: center;
    padding: 1rem;
    background-color: hsl(234deg 32% 17%);
    margin: 1.5rem;
}

.highlight_content-heading,
.highlight_content-wind {
    font-size: 2rem;
}

.highlight_content-desc {
    font-size: 3rem;
    margin: 1rem;
}

.label_progress div {
    display: flex;
    justify-content: space-between;
}

progress {
    padding: 1rem;
    width: 100%;
    color: red; 
}

progress::-webkit-progress-value { 
}

@media (min-width: 800px) {
    .highlight_detail {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
    .highlight_content {
        margin: 0
    }
}