.search_container {
    position: relative;
}

.search_form {
    width: 100%;
    height: 100%;
    padding-bottom: 710px;
    position: absolute;
    transform:translateX(-700px);
    margin-top: -47px;
    padding-top: 4rem;
    background-color: hsl(234deg 33% 17%);
    -webkit-transform:translateX(-700px);
    -moz-transform:translateX(-700px);
    -ms-transform:translateX(-700px);
    -o-transform:translateX(-700px);
}

.main_search {
    display: grid;
    grid-template-columns: 1fr 20%;
    gap: 21px;
}

.input_search {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    padding: 4%;  
}

.button_search {
    padding: 14px 0;
    cursor: pointer;
    width: 100%;
    height: 50px;
    margin: 0;
    background-color: hsl(209deg 62% 50%);
    color: hsl(0deg 0% 100%);
}
.search_btn {
    display: flex;
    justify-content: space-between;
}

.search_location_btn {
    padding: 0.85rem 10%;
    background-color: hsl(216deg 15% 52%);
    color: #ffffff;
    cursor: pointer;
    font-size: 1rem;
    line-height: 1;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.search_lattlong_btn {
    cursor: pointer;
    background-color: hsl(216deg 15% 52%);
    color: #ffffff;
    border-radius: 39%;
    height: 33px;
    width: 42px;
    align-self: center;
}

.open {
    transform:translateX(0);
    -webkit-transform:translateX(0);
    -moz-transform:translateX(0);
    -ms-transform:translateX(0);
    -o-transform:translateX(0);
}

.open ~ body {
    overflow-y: hidden;
}

.visible_btn {
    visibility: visible;
}

.invisible_btn {
    visibility: hidden;
}

.cancel {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: #ffffff;
    font-size: 1.5rem;
}

.remove {
    transform:translateX(-700px);
    -webkit-transform:translateX(-700px);
    -moz-transform:translateX(-700px);
    -ms-transform:translateX(-700px);
    -o-transform:translateX(-700px);
}

.list_location {
    list-style: none;
    padding: 0;
    margin: 2rem 6rem 2rem 0;
}

.location_value {
    border: 1px solid;
    padding: 1rem;
    margin-top: 1rem;
    cursor: pointer;
}