.weather_detail {
    margin-top: 6rem;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 30px;
    text-align: center;
}

.weather_temp {
    font-size: 4rem;
    margin: 0;
}

.weather_state_name,
.weather_today {
    margin: 0;
}